@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-light: 0, 0, 0;
  --foreground-dark: 255, 255, 255;
  --background-start-light: 214, 219, 220;
  --background-end-light: 255, 255, 255;
  --background-start-dark: 0, 0, 0;
  --background-end-dark: 0, 0, 0;

  /* Default light mode */
  --foreground-rgb: var(--foreground-light);
  --background-start-rgb: var(--background-start-light);
  --background-end-rgb: var(--background-end-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode */
    --foreground-rgb: var(--foreground-dark);
    --background-start-rgb: var(--background-start-dark);
    --background-end-rgb: var(--background-end-dark);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
